# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# NestJS
dist/
*.tsbuildinfo

# Turbo
.turbo/

# Build
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
# DO NOT ignore migrations, only dev.db or backups
prisma/migrations/dev.db
prisma/*.db
prisma/*.db-journal

# Coverage
coverage/
